<footer>
    <div class="footer-container">
        <strong><p> Version 1.0.0 &copy; 2024 PipeMaster. All rights reserved to Neilsoft.
      </p></strong>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
