<h3>PipeMaster / <%= title %></h3>

<section class="hero">
    <div class="hero-background"></div> <!-- New element for background effect -->
    <div class="hero-content">
        <h3>Welcome to PipeMaster</h3>
        <p>Your Quick Estimator For All SCAN To CAD Assignments</p>

        <% if(locals.user) { %>
        <button class="cta-button"><a href="./users/estimation">Start Estimation</a></button>
        <button class="cta-button"><a href="./users/sign-up">Compare Point Cloud To CAD Data</a></button>
<% } %>
    </div>
</section>

<section class="features">
    <div class="feature">
        <i class="fas fa-dollar-sign"></i>
        <h3>Sign Up To Get Quote For The Scan To BIM Services</h3>
        <p>We Offer Piping-Related Services All Over The Globe</p>
    </div>
    <!-- <div class="feature">
        <i class="fas fa-headset"></i>
        <h3>24/7 Support</h3>
        <p>Our support team is here to help you 24/7.</p>
    </div> -->
</section>
