<h3>PipeMaster / <%= title %></h3>

<section class="hero">
    <div class="hero-background"></div> <!-- New element for background effect -->
    <div class="hero-content">
        <h3>Welcome to PipeMaster</h3>
        <p>Your one-stop shop for all your piping needs</p>
        <button class="cta-button"><a href="./users/sign-up">Explore Our Services</a></button>
    </div>
</section>

<section class="features">
    <div class="feature">
        <i class="fas fa-dollar-sign"></i>
        <h3>Get Quote for the Scan to BIM Services</h3>
        <p>We offer piping-related services all over the globe.</p>
    </div>
    <div class="feature">
        <i class="fas fa-headset"></i>
        <h3>24/7 Support</h3>
        <p>Our support team is here to help you 24/7.</p>
    </div>
</section>
