<!-- 
<h1>Sign In</h1>



<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder=" Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">

</form> -->

<form action="/users/create-session" method="POST" class="signin-form">
    <h1>Sign In</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your Email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <input type="submit" value="Sign In" class="btn-primary">
    <p>Don't have a account ? <a href="/users/sign-up"><span style="color:#007bff;">Sign up</span> </p>
    <p>
        <strong><a href="/users/auth/google">Google Sign In /Up</a> </strong>   
    </p>    
</form>


